.auth-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;

  .form-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 320px;
    margin: auto;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 10px;
      border: 1px solid #d1d5da;
      border-radius: 3px;
      width: 100%;

      .input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        font-size: 14px;
        width: 270px;

        span {
          font-weight: 600;
          padding-bottom: 5px;
        }

        input {
          padding: 6px 8px;
          background-color: #fafbfc;
          background-position: right 8px center;
          background-repeat: no-repeat;
          border: 1px solid #d1d5da;
          border-radius: 3px;
          box-shadow: inset 0 1px 2px #1b1f2313;
          color: #24292e;
          line-height: 20px;
          outline: none;
          vertical-align: middle;
          transition: 0.2s;

          &:focus {
            border-color: #2188ff;
            box-shadow: inset 0 1px 2px #1b1f2313, 0 0 0 0.2em #0366d64d;
          }
        }
      }

      .button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5em;
        width: 270px;

        button {
          width: 100%;
          border-radius: 3px;
          font-size: 14px;
          width: auto;
          background-color: #2ebc4f;
          border: 0.5px solid #28a745;
          color: #fff;
          display: inline-block;
          font-weight: 500;
          transition: 0.2s;
          padding: 6px 12px;

          &:hover {
            cursor: pointer;
            background-color: #28a745;
            border: 0.5px solid #24292e;
          }

          &.in-promise {
            background-color: #94d3a2;
            color: #d7e8bb;
            border: 0.5px solid #7baf89;

            &:hover {
              cursor: default;
              background-color: #94d3a2;
              color: #d7e8bb;
              border: 0.5px solid #7baf89;
            }
          }
        }
      }
    }
  }
}
