# worskpaces: https://gitlab.com/gitlab-org/gitlab-ce/issues/47062, https://gitlab.com/gitlab-org/gitlab-ce/issues/62475, https://gitlab.com/gitlab-org/gitlab-ce/issues/62476, https://gitlab.com/gitlab-org/gitlab-ce/issues/62477
stages:
  - build
  - test

services:
  - redis:latest

cache:
  paths:
    - node_modules/

Build:
  image: node:11
  stage: build
  only:
    - master
  script:
    - yarn
    - NODE_ENV=development yarn build
  artifacts:
    paths:
      - dist/

Run application:
  stage: test
  image: cypress/base:10
  only:
    - master
  before_script:
    - apt-get update
    - apt-get install redis-server sqlite3 -y
    - service redis-server start
  script:
    - yarn start-with-e2e
# Integration test:
#   stage: test
#   image:
#     name: node:11
#   only:
#     - master
#   script:
#     - yarn e2e-wait

# Unit test:
#   stage: test
#   image:
#     name: node:11
#   only:
#     - master
#   script:
#     - yarn test-wait
