trigger:
  - master

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "10.x"
    displayName: "Install node"

  - script: |
      yarn install
      yarn build
    displayName: "Install dependencies and build app"
  # - script: |
  #     yarn test-client
  #   displayName: "Run unit tests"
