@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

@keyframes marquee {
  0% {
    justify-content: flex-start;
  }
  100% {
    justify-content: flex-end;
  }
}

.status-bar-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  height: 100%;
  width: 100%;
  align-items: center;
  animation: marquee 30s linear infinite;

  .status-bar {
    color: #242424;
    font-family: "VT323", monospace;
    text-transform: uppercase;
    display: flex;
  }
}
