# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  setup:
    docker:
      - image: circleci/redis:latest

    working_directory: ~/app
    steps:
      - checkout
      - run:
          name: Install redis-server
          command: apt update && apt install redis-server -y

      - run:
          name: Start redis-server
          command: service redis-server start

      - run:
          name: Install sqlite
          command: apt install sqlite3 -y

  build:
    docker:
      - image: circleci/node:10

    working_directory: ~/app
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install node dependencies
          command: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
            - ~/.cache/Cypress
          key: v1-dependencies-{{ checksum "package.json" }}

  test:
    docker:
      - image: circleci/node:10

    working_directory: ~/app
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run:
          name: Check redis-server status
          command: service redis-server status

      - run:
          name: Start the application
          command: NODE_ENV=production yarn start
          background: true

      - run:
          name: Run tests
          command: yarn e2e-wait

workflows:
  version: 2
  setup-build-and-test:
    jobs:
      - setup
      - build:
          requires:
            - setup
      - test:
          requires:
            - build
