version: 2.1

orbs:
  cypress: cypress-io/cypress@1

jobs:
  setup:
    docker:
      - image: circleci/redis:latest

    working_directory: ~/app
    steps:
      - checkout
      - run:
          name: Install redis-server
          command: apt update && apt install redis-server -y

      - run:
          name: Start redis-server
          command: service redis-server start

      - run:
          name: Install sqlite
          command: apt install sqlite3 -y

  build:
    docker:
      - image: circleci/node:10

    working_directory: ~/app
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install node dependencies
          command: yarn install --frozen-lockfile

      - run:
          name: Build app
          command: yarn build

      - save_cache:
          paths:
            - node_modules
            - .cache/Cypress
          key: v1-dependencies-{{ checksum "package.json" }}

  # test:
  # docker:
  #   - image: circleci/node:10
  # working_directory: ~/app
  # steps:
  #   - checkout
  #   - restore_cache:
  #       keys:
  #         - v1-dependencies-{{ checksum "package.json" }}
  #         - v1-dependencies-
  #   - run:
  #       name: Start the application
  #       command: NODE_ENV=production yarn start
  #       background: true
  #   - run:
  #       name: Run tests
  #       command: yarn e2e-wait

  cypress/run:
    docker:
      - image: cypress/base:10
    parallelism: 1
    steps:
      - checkout
      - restore_cache:
          keys:
            - cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          command: npx cypress verify
      - save_cache:
          key: cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - ~/.cache
      - persist_to_workspace:
          root: ~/
          paths:
            - project
            - .cache/Cypress
      - attach_workspace:
          at: ~/
      - run:
          name: Run Cypress tests
          command: "npx cypress run"

workflows:
  version: 2
  setup-build-and-test:
    jobs:
      - setup
      - build:
          requires:
            - setup
      - cypress/run:
          yarn: true
          cache-key: 'yarn-packages-{{ arch }}-{{ checksum "yarn.lock" }}'
          start: yarn start
          # wait-on: "http://localhost:4000"
          requires:
            - build
