nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  background-color: #242424;
  color: #fff;

  span {
    margin: 0px 20px;
  }

  .nav-dropdown-menu {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    color: #242424;
  }
}
