@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
@import "../../palette.scss";

.auth {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(map-get($purple, 1), map-get($blue, 2));

  .cardWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 290px;
    margin: auto;

    .card {
      padding: 22px 48px;
      width: inherit;
      background-color: map-get($white, 1);
    }
  }
}
