.manage-component-button-wrapper {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #0366d6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    span {
      color: #fff;
    }
  }
}
