@mixin dashboardWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 76px);
  width: 100%;

  .dashboard {
    display: flex;
    align-items: center;
    height: 78px;
    padding: 22px;
    border-bottom: 1px solid #d1d5da;
  }
}
